NODE_ENV=development
PORT=3000
DATABASE_URL="sqlserver://localhost:1433;database=TheatrumDB;user=sa;password=YourStrong!Password123;trustServerCertificate=true"
JWT_SECRET="change-this-to-a-random-32-char-string-minimum"
CORS_ORIGIN="http://localhost:5173"
